* {
  font-family:'Rubik', sans-serif;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
}

main {
  width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.palette {
  display: flex;
  width: 75%;
  justify-content: space-evenly;
}

.square {
  height: 150px;
  width: 150px;
  margin: 5px;
  border: 3px solid black;
}

.hex {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: flex-end;
}

.nav-buttons {
  display: flex;
  width: 75%;
  justify-content: space-evenly;
  align-items: center;
}

button {
  width: 150px;
  height: 50px;
  font-size: large;
  box-shadow: 3px 3px rgb(56, 55, 55);
  border: 2px solid black;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(167, 165, 165);
}

button:active {
  box-shadow: 1px 1px black;
  transform:translateY(3px);
}

.saved-palettes {
  display: flex;
  height: 100vh;
  width: 25vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-left: 3px solid black;
}